/* line 1, ../sass/main.scss */
#main {
  max-width: 962px;
  width: 962px;
  margin: 0 auto;
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
}
/* line 7, ../sass/main.scss */
#main .clear {
  clear: both;
}
/* line 10, ../sass/main.scss */
#main #header {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 19px;
}
/* line 14, ../sass/main.scss */
#main #header .logo {
  float: left;
  width: 33%;
  padding-top: 3px;
}
/* line 18, ../sass/main.scss */
#main #header .logo img {
  max-width: 180px;
  width: 100%;
}
/* line 23, ../sass/main.scss */
#main #header .title {
  float: left;
  width: 33%;
  text-align: center;
  margin-top: 14px;
}
/* line 28, ../sass/main.scss */
#main #header .title h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
/* line 35, ../sass/main.scss */
#main #header .action-icons {
  float: right;
  width: 33%;
  padding-top: 8px;
}
/* line 39, ../sass/main.scss */
#main #header .action-icons .ico {
  cursor: pointer;
  float: right;
  font-size: 3em;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
/* line 45, ../sass/main.scss */
#main #header .action-icons .ico:hover {
  background: #e6411e;
  color: #fff;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
/* line 55, ../sass/main.scss */
#main #list-container .item {
  height: 50px;
  border: solid 3px #000;
  border-radius: 5px;
  background: #cccccc;
  margin-bottom: 15px;
}
/* line 61, ../sass/main.scss */
#main #list-container .item:nth-child(2n) {
  background: #fff;
}
/* line 64, ../sass/main.scss */
#main #list-container .item.selected {
  background: #B9D2E5;
}
/* line 67, ../sass/main.scss */
#main #list-container .item .id-item {
  font-size: 2em;
  width: 5%;
  float: left;
  padding-top: 7px;
  padding-left: 9px;
}
/* line 74, ../sass/main.scss */
#main #list-container .item .check-item {
  width: 26px;
  float: left;
  padding-top: 15px;
}
/* line 79, ../sass/main.scss */
#main #list-container .item .name-item {
  width: 70%;
  float: left;
  padding-top: 17px;
}
/* line 84, ../sass/main.scss */
#main #list-container .item .action-item {
  width: 18%;
  float: right;
}
/* line 87, ../sass/main.scss */
#main #list-container .item .action-item .icon-container {
  padding-top: 9px;
}
/* line 89, ../sass/main.scss */
#main #list-container .item .action-item .icon-container .ico {
  cursor: pointer;
  float: right;
  font-size: 2em;
  border-radius: solid 1px #ddd;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
/* line 96, ../sass/main.scss */
#main #list-container .item .action-item .icon-container .ico.icon-minus {
  margin-right: 8px;
}
/* line 99, ../sass/main.scss */
#main #list-container .item .action-item .icon-container .ico:hover {
  background: #e6411e;
  border: solid 1px #eee;
  color: #fff;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
/* line 111, ../sass/main.scss */
#main #new-item {
  height: 300px;
  background: #fff;
  z-index: 3;
  margin: 0 auto;
  position: relative;
  right: 0;
  float: right;
  top: 10%;
}
/* line 120, ../sass/main.scss */
#main #new-item.display-none {
  display: none;
}
/* line 124, ../sass/main.scss */
#main #new-item .edit-item .close-edit-item {
  float: left;
  color: #999;
  font-weight: 900;
  cursor: pointer;
  background: #ddd;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-right: 15px;
  border-right: 31px;
}
/* line 141, ../sass/main.scss */
#main #new-item .close-new-item {
  float: left;
  color: #f00;
  font-weight: 900;
  cursor: pointer;
  background: #eee;
  font-size: 2em;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  margin-right: 15px;
  border: solid 1px #ddd;
}
/* line 154, ../sass/main.scss */
#main #new-item .close-new-item .close-container {
  padding-top: 3px;
}
/* line 158, ../sass/main.scss */
#main #new-item .name {
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: 3px;
  border: solid 1px #eee;
}
/* line 165, ../sass/main.scss */
#main #new-item .add-item-button {
  border-radius: 3px;
  padding: 10px 21px;
  border: solid 1px #000;
  text-align: center;
}
